# Віртуальне оточення
venv/
env/
ENV/
Lib/

# Файли середовища
.env

# Файли кешу Python
__pycache__/
*.py[cod]
*$py.class

# Файли журналів
*.log

# Бібліотеки, які встановлюються локально (якщо є)
*.egg-info/
dist/
build/

# IDE/редактори
.vscode/
.idea/

